/* Formatting specific to the AppFin application */
body {
  padding: 50px;
  /*border: 1px;*/
}

/* Big Data Lab */ 
h1 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Times New Roman", Georgia, serif;
  color: #ce5c00;
  margin: auto;
  text-align: center;
}

/* UTD */ 
h2 {
  font-size: 2.5em;
  font-weight: normal;
  font-family: "Times New Roman", Georgia, serif;
  color: #356e2b;
  margin: auto;
  text-align: center;
}

/* AppFin */
h3 {
  font-size: 3em;
  font-weight: bold;
  font-family: "Times New Roman", Georgia, serif;
  color: #2e3436;
  margin: 40px 0px 70px;
  text-align: center;
 /* border: 3px solid #2e3436;
  display: inline; */
  
}

h4 {
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Times New Roman", Georgia, serif;
  color: black;
  margin: auto;
  text-align: center;
}

/* app list flex table header row */     
.listHeader {
  background-color: #008000;  
  color: white;
  font-size: 250%;
  font-style: italic;
}

/* app list flex table */
.watchList {
  border: 1px solid silver;
}

/* parameter flex table */
.gwt-VerticalPanel-parameterList {
  margin-bottom:6px;
  margin-right: 100px;
}

/* add app panel */
.addPanel {
  margin: 10px 0px 15px 0px;
}

/* centers a panel */
.center {
 margin: auto
}

/* sizes a panel */
.size {
 height: 500px;
 width: 500px;
}

/* formats login labels */
.gwt-Label-loginLabel { 
  font-size: 125%; 
  font-family: "Times New Roman", Georgia, serif;
  color:black;
  padding:5px;
  margin:5px;
}

/* formats message labels */
.gwt-Label-message { 
  font-size: 125%; 
  font-family: "Times New Roman", Georgia, serif;
  color:black;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
}

/* formats a text box */
.gwt-TextBox {
  font-family: "Times New Roman", Georgia, serif;
}

/* formats a password box */
.gwt-PasswordTextBox {
  font-family: "Times New Roman", Georgia, serif;
}

/* formats login button */
.gwt-Button-login {
  font-family: "Times New Roman", Georgia, serif;
  font-size: 300%;
  margin: center;
  padding:5px 7px;
  border:1px outset #ce5c00;
  background:transparent url(images/hborder.png) repeat-x scroll 0px -27px;
}

.gwt-Button {
  margin-top: 100px;
}

/* formats hyperlinks */
.gwt-Hyperlink {
  padding: 14px 50px;
  text-align: center;
  font-family: "Times New Roman", Georgia, serif;
  margin-top: 200px;
  font-size: 125%; 
}

/* formats title labels */
.gwt-Label-titleLabel { 
  font-size: 200%; 
  font-family: "Times New Roman", Georgia, serif;
  font-weight: bold;
  color:#356e2b;
  test-align:center;
  padding:5px;
  margin-bottom:50px; 
}

/* formats caption panels */
fieldset {
  border: 2px;
  border-style: solid;
  border-color: #008000;
  font-size: 100%;
  font-color: #000000;
  margin: 10px 10px 10px 10px;
  width: 300px;
  height: 75px; 
  font-family: "Times New Roman", Georgia, serif; 
  font-weight: bold;
}

/* formats the login caption panel */
.loginCP {
  border: 2px;
  border-style: solid;
  /*border-color: #008000;*/
  border-color: silver;
  /*font-size: 200%;*/
  /*font-color: #ce5c00*/;
  display: inline;
  width: auto;
  height: auto;
  font-family: Verdana, Tahoma, 'Times New Roman';     
  font-size: 11pt;
  color: #316CAE;
}

/* formats the bar behind the tabs */
.gwt-TabBar {
  background-color: #f57900;
}

/* formats the content part of the tab panel */
.gwt-TabPanelBottom {
  border-color: #cc0000;
  background-color: #ffffff;
}

.pointer{
	pointer-events: none;
}

#container {
	border: 4px inset green;
	width:340px;
    height:620px;
    overflow:hidden;     /* if you don't want a scrollbar, set to hidden */
    position:relative;

    /* resize and min-height are optional, allows user to resize viewable area 
    -webkit-resize:vertical; 
    -moz-resize:vertical;
    */
}

#embed{
	width:1920px;       /* set this to approximate width of entire page you're embedding */
    height:1080px;      /* determines where the bottom of the page cuts off */
    right: -780px;
    top: -200px;
    position:absolute;

    /* resize seems to inherit in at least Firefox 
    -webkit-resize:none;
    -moz-resize:none;
    resize:none;
    */
}

.Button_White
{
border-right: darkgray 1px solid;
border-top: darkgray 1px solid;
font-size: 10pt;
border-left: darkgray 1px solid;
border-bottom: darkgray 1px solid;
font-family: Verdana, Tahoma, 'Times New Roman';
background-color:White  ;
color:#316CAE;    
cursor:hand ;
height: 30px;
width:110px; 
}

.TextBox
{
	border-right: #c7ccdc 1px solid;
	border-top: #c7ccdc 1px solid;
	font-size: 10pt;
	border-left: #c7ccdc 1px solid;
	border-bottom: #c7ccdc 1px solid;
	font-family: Tahoma, Verdana, 'Times New Roman';
	height: 20px;	 
	width: 200px;	 
}

.TextBoxRed
{
	border-right: #c7ccdc 1px solid;
	border-top: #c7ccdc 1px solid;
	font-size: 10pt;
	border-left: #c7ccdc 1px solid;
	border-bottom: #c7ccdc 1px solid;
	font-family: Tahoma, Verdana, 'Times New Roman';
	height: 20px;
	width: 200px;	
	/*border-color: #FFAA00*/
	border-color: red
}

.Labels
{	
	font-family: Verdana, Tahoma, 'Times New Roman';     
	font-size: 9pt;
	color:Gray ;
}

.tds
{
	background-color:#7DBEFF   ;
	text-align:left;		
}